<div style="text-align:center;" class="white-text">
  <h1>
    <div style="font-family: 'Lobster', cursive;">
      Welcome to <span style="font-family: 'Pacifico', cursive;">LibMan!</span>
    </div>
  </h1>
</div>

<div class="row" style="text-align:center;">
  <div class="col s12 m6 l6">
    <img width="90%" alt="Angular Logo" src="../../assets/images/logo-1.png">
  </div>
  <div class="v-divider hide-on-med-and-down"></div>
  <div class="col s12 m6 l6">
    <form class="row" action="" id="login-form" style="font-family: 'Ubuntu Condensed', sans-serif;">
      <div class="input-field col s12">
        <input type="text" id="id" class="validate white-text">
        <label for="id" data-error="wrong" data-success="right">User ID</label>
      </div>
      <div class="input-field col s12">
        <input type="password" id="password" class="validate white-text">
        <label for="password" data-error="wrong" data-success="right">Password</label>
      </div>
    </form>
  </div>
</div>